﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="">
    <form id="form">
        <input name="Email" value="" />
        <input name="password" value="" />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div>
        <h3>Token : <span id="tokenSpan"></span></h3>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#form").on("submit", function (e) {
            e.preventDefault();
            var postData = { Email: $("[name=Email]").val(), Password: $("[name=password]").val(), Token:""};
            console.log(postData);
            $.post("https://localhost:44345/api/Login", postData, function (data) {
                console.log(data);
                $("#tokenSpan").html(data.result.token);
            });
            //$.ajax({
            //    type: "POST",
            //    url: "https://localhost:44345/api/Login",
            //    traditional:true,
            //    data: JSON.stringify(postData),
            //    success: function (data) {
            //        console.log(data);
            //        alert(11);
            //    },
            //    contentType: "application/json",
            //});
        });
    });
</script>